<div *ngIf="isDiv" (click)="selectItem()">
  <img
    src="assets/images/{{ personne?.path | defaultImage }}"
    alt="{{ personne?.name }}"
    class="rounded-circle"
    [ngStyle]="{
      heigth: heigth + 'px',
      width: width + 'px'
    }"
  />
  {{ personne?.firstname }} {{ personne?.name }}
</div>
<span *ngIf="!isDiv">
  <img
    src="assets/images/{{ personne?.path | defaultImage }}"
    alt="{{ personne?.name }}"
    class="rounded-circle"
    [ngStyle]="{
      heigth: heigth + 'px',
      width: width + 'px'
    }"
  />
  {{ personne?.firstname }} {{ personne?.name }}
</span>
