<form #loginForm="ngForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input
      type="email"
      required
      ngModel
      name="email"
      email
      #emailInput="ngModel"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />
    <div
      class="alert alert-danger"
      *ngIf="emailInput.invalid && emailInput.touched"
    >
      Vous devez avoir un email valide
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      type="password"
      minlength="4"
      #pwdInput="ngModel"
      class="form-control"
      ngModel
      required
      name="password"
      id="exampleInputPassword1"
      placeholder="Password"
    />
    <div class="alert alert-danger" *ngIf="pwdInput.invalid && pwdInput.dirty">
      Le password et obligatoire et doit avoir au moins 4 caratères.
    </div>
  </div>
  <button
    (click)="login(loginForm)"
    [disabled]="loginForm.invalid"
    type="submit"
    class="btn btn-primary"
  >
    Submit
  </button>
</form>
